section.awSlider .carousel {
  display: table;
  z-index: 2;
  -moz-box-shadow: 0 0 4px #444;
  -webkit-box-shadow: 0 0 4px #444;
  box-shadow: 0 0 15px rgba(1, 1, 1, 0.5);
}

section.awSlider {
  margin: 30px auto;
  padding: 30px;
  position: relative;
  display: table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

section.awSlider img {
  pointer-events: none;
}


